@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}
<link rel="stylesheet" href="~/css/Me/mainloadiersStyle.css">

    <div class="main-loader-container " >
    <span class="loader se-pre-con"></span>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
@{
    int dd = 0;

    }
    <script>
        $(window).load(function () {
            // Animate loader off screen
            
            $(".main-loader-container").fadeOut("slow");
        });
    </script>
