
@{
}

<h1>Report</h1>


<div class="row">

    @*Most Students Absence*@

    @*Most Supervisor Absence*@

    @*Supervisors have Achieved Max active Students*@

    @*Supervisors don't have any active Students*@

    @*Top 10 Supervisors With Total Meetings *@

    @*Show Single (Student(all previous meetings and there presence , total previous tasks and their complement ) || Supervisor (all active students and the meetings and there presence , tasks count )) Report *@







</div>
