@{
}
<h1>Student Report</h1>

<div class="alert alert-info text-center">
    <h3>
        Rami Khalid as Student
    </h3>
    <h4>Fouth</h4>
    <h4>Ali Adel As Supervisor</h4>
    <h5>Supervision End at 12-9-2023</h5>
</div>

<div class="row">
    @*Student Meetings *@
    <div class="col-12">
        <div id="totalMeetings" class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Student Meetings </h4>
                <p class="category">Total meetings are : 4</p>
            </div>
            <div class="card-body">
                <div class="table-responsive table-hover">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Total Hours</th>
                                <th>Supervisor Name</th>
                                <th>Total Tasks</th>
                                <th>Student Presence</th>
                                <th>Supervisor Presence</th>


                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>2</td>
                                <td>Sunday 18-11-2022</td>
                                <td>2 </td>
                                <td> <a href="/Profile/Supervisor/367fe9f4-5125-4a04-763c-08db49b1d84e">Supervisor Here</a> </td>
                                <td>7 </td>
                                <td>No </td>
                                <td>Yes </td>
                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    @*Student Meetings Tasks *@
    <div class="col-12">
        <div id="totalTasks" class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Student Tasks </h4>
                <p class="category">Total tasks are : 27</p>
            </div>
            <div class="card-body">
                <div class="table-responsive table-hover">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Is Complete</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>2 </td>
                                <td>Create Sgin in ui</td>
                                <td>askdgahjsgdhjasgdhj descriotion </td>
                                <td>Sunday 18-11-2022</td>
                                <td>Yes </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>