@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@inject IHttpContextAccessor _httpContextAccessor

@{

    if (_httpContextAccessor.HttpContext.User.Identity.IsAuthenticated) { 

        string userName = _httpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.Name) ?? "UnKnown";
        string userId = _httpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier) ?? "01";
        var roles = _httpContextAccessor.HttpContext.User.FindAll(ClaimTypes.Role);

        foreach (var item in roles)
        {
            <h4>@item.Value</h4>
        }

    <h3>@userName</h3>
    <h3>@userId</h3>
    }
}