@inject AppTimeProvider _appTimeProvider;
@{
   

    StudentProfileDto studentProfile = ViewData[ViewStringHelper.StudentProfile] as StudentProfileDto;
    SupervisorProfileDto supervisorProfile = ViewData[ViewStringHelper.SupervisorProfile] as SupervisorProfileDto;
    ViewData["Title"] = "Profile - Mohammed Adel";
    ViewBag.currentPage = "User Profile";
}


@*<div>
    <h4 class="alert alert-danger text-center">Profile Not Found</h4>

</div>*@

<div class="row">
    <!--Left Profile Show-->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div id="profileCard" class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Profile Information Summary</h4>
                <p class="category">information shown in @_appTimeProvider.Now.ToString("d")</p>
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap align-content-lg-stretch">
                    <!--Profile Image-->
                    <div class="mr-3 mt-0">
                        <img style="width:180px;aspect-ratio:1" src="~/UsersImages/890d26bd4412467c00c908db41d6e04b_4.jpeg" />
                    </div>
                    <!--Student Information-->
                    <div>
                        <!--Full Name-->
                        <div class="d-flex flex-row">
                            <label class="mr-2">
                                <span class="material-icons">
                                    person
                                </span>
                            </label>
                            <h5>Abdulrahman Alshammari</h5>
                        </div>
                        <!--Email-->
                        <div class="d-flex flex-row">
                            <label class="mr-2">
                                <span class="material-icons">
                                    email
                                </span>
                            </label>
                            <a class="d-block" href="mailto:alraqym050@gmail.com">alraqym050@gmail.com</a>
                        </div>
                        <!--Supervisor Name-->
                        <div class="d-flex flex-row">
                            <label class="mr-2">
                                <span class="material-icons">
                                    supervisor_account
                                </span>
                            </label>
                            <h5>Abbas abd Al Hssan </h5>
                        </div>
                        <!--Extend Times -->
                        <div class="d-flex flex-row">
                            <div class="d-flex flex-row mr-2">
                                <label class="mr-2">
                                    <span class="material-icons">
                                        alarm
                                    </span>
                                </label>
                                <h5>2023-6-15</h5>
                            </div>

                            <div class="d-flex flex-row ">
                                <label class="mr-2">
                                    <span class="material-icons">
                                        manage_history
                                    </span>
                                </label>
                                <h5>1 </h5>
                            </div>



                        </div>

                        <!--Role-->
                        <div class="d-flex flex-row">
                            <label class="mr-2">
                                <span class="material-icons">
                                    workspace_premium
                                </span>
                            </label>
                            <h5>@UserRole.Student.ToString()</h5>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>
    <!--Right Missing Tasks -->
    <div class="col-sm-12 col-md-6 col-lg-6 ">
        <div id="tasksCard" class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Missed Tasks</h4>
                <p class="category">total missed tasks for previous meetings : 3 </p>
            </div>
            <div class="card-body" style="overflow-y:auto; overflow-y:scroll;">

                <table class="table text-center ">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>task 1</td>
                            <td>desc 1</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>task2</td>
                            <td>desc2</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>task3</td>
                            <td>desc3</td>
                            <td>No</td>
                        </tr>


                    </tbody>
                </table>


            </div>
        </div>

    </div>
</div>
<!--This Mount Meetings-->
<div class="row">
    <div class="col-12">
        <div id="meetingsCard" class="card">
            <div class="card-header card-header-rose">
                <h4 class="card-title">This Month Meetings from 1-5-2023</h4>
                <p class="category">Total Meetings : 19 , Missed 3 </p>

            </div>
            <div class="card-body">

                <table class="table text-center ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Start Hour</th>
                            <th>End Hour</th>
                            <th>Tasks</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3</td>
                            <td>Sunday 16-3-2023</td>
                            <td>2 </td>
                            <td>4 </td>
                            <td>7 </td>

                        </tr>

                    </tbody>
                </table>


            </div>
        </div>

    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const profileCard = document.getElementById("profileCard");
        const tasksCard = document.getElementById("tasksCard");
        const profileCardHeight = profileCard.offsetHeight;
        tasksCard.style.maxHeight = profileCardHeight + "px";
    });
</script>
